<h3>Workshops</h3>

<%= render 'slick_sched' %>

<%# if current_user %>
  <%#= link_to "Add Workshop", new_workshop_path, :class => "btn btn-success" %>
  <%#= link_to "Add Time", new_slot_path, :class => "btn btn-success" %>
  <%#= link_to "Add Location", new_location_path, :class => "btn btn-success" %>
<%# end %>
