<h3>Current Workshops</h3>
<div class = "rows">
  <div class="col-md-8">
    <% if @workshop.id != nil %>
      <% @workshops.each do |workshop| %>
        <p><%=link_to "Remove Workshop", workshop_path(workshop), data: {method: "delete"}, :class => "btn btn-xs btn-danger" %>
        <%=link_to "#{workshop.title}", edit_workshop_path(workshop) %></p>
      <% end %>
    <% end %> 
  <h3> New Workshop </h3>
  <%= render 'form' %>
  </div>
</div>