<h3>Current Locations</h3>
<div class = "rows">
  <div class="col-md-10">
    <% if @location.id != nil %>
      <% @locations.each do |location| %>
        <p><%=link_to "Remove Location", location_path(location), data: {method: "delete"}, :class => "btn btn-xs btn-danger" %>
        <%= link_to "#{location.name}", edit_location_path(location) %></p>
      <% end %>
    <% end %>

  <h3> New Location </h3>
  <%= render 'form' %>
  </div>
</div>